/* UPDATED July 31, 2018*/
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  margin:    0 auto;
  max-width: 900px;
}
p {
  text-align: justify;
  line-height: 30px;
  background-color: white;
  background-clip: text;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: gray;
  padding-top: 40px;
}
h3 {
  font-size: x-small;

}
.mainPhoto {
  opacity: 0.1;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footerText {
  font-size: small;
}
.bottomNav {
  text-align: center;
  padding: 50px;
}
.resourceText {
  background-color: ghostwhite;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: black;
}
.mainNav {

}
.bpost {

}
.blogNav {
  font-size: small;
  background-color: lightgray;
  color: white;
  padding: 14px 16px;
}
.blogNav a {
  color: white;
  text-decoration: none;
}
