
body:before{
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background: url("images/wallpaper.jpg") no-repeat center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

* {
  box-sizing: border-box;r
  transition-property: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-delay: inherit;
  font-family: sans-serif;
}
img.card {
  display: inline-flex;
  width: 100%;
}


body, html {
  color: black;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}


main {
  margin:0 auto;
  display: block;
  width: 100%;
  z-index: 149;
}
.content-post {
  width: 100%;
  height: auto;
  margin: 80px;
  padding:10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.content-wrapper {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 600px;
  display: flex;
  height: auto;
  margin: 0 auto;
}

#info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#info a {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bold;
  font-style: italic;
  color: black;
}
#info a:hover{
  color:rgb(206, 206, 206)
}



@media screen and (max-width: 450px) {
  .content-post{
    margin:10px 30px;
  }
}
