body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: aqua;
}
a:hover {
    color: orange;
}
.bg-image {
  background-image: url("trail.jpg");
  /*background-image: linear-gradient(-15deg, #696969, #6495ED, aqua);*/
  filter: blur(8px);
  -webkit-filter: blur(3px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainwin  {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
