body, html {
  margin:auto;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #2B1B17;
  background-color: white;
  letter-spacing: 1px;
  font-size: 1em;
  text-align: justify;
  background-color: #77777;
}

/** {
  border: 1px solid black;
}*/

.content {
  max-width: 750px;
  margin: auto;
  background: #ffffff;
  background-color: inherit;
  font-family:inherit;
  letter-spacing: 1px;
  line-height: 1.6;
  transition: 0.9s;
  padding: 0 0 0;
  text-align: left;
  margin-top: 0;
}

img.projects {
  width:200px;
  padding: 3px;
  margin: 10px;
  display: inline-grid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  transition:.5s;
}
img.projects:hover {
  box-shadow: 1px 8px 15px 2px rgba(0,0,0,0.2);
  transition:.4s;
}

img.thumb {
  width:100%;
  padding: 3px;
  margin: 10px;
  display: inline-block;
  margin: 0 auto;
}

img.thumb-blog {
  height:70px;
  padding: 3px;
  margin: 10px;
  display: inline-block;
}

.text-section {
  margin:0px;
  padding: 10px;
  font-size: 1.125em;
  text-align: justify;

}

.blog-section {
  margin:0px;
  padding: 10px 10px 100px;
  font-size: 1.125em;
  text-align: justify;
}

a {
  color: black;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p a:visited {
  color: #551A8B;
}
p a {
  color: #2200CC;
}

#cssmenu-top {
  position:scroll;
  top: 0;
  margin: 0 auto;
  right: 0;
  width: 100%;
  z-index: 150;
  font-size: 1em;
  font-weight: 600;
  letter-spacing:5px;
  opacity: .7;
  border-bottom: 1px solid #c7c7c7;
}

#cssmenu-bottom {
  position:scroll;
  display:inline-block;
  top: 0;
  margin: 0 auto;
  right: 0;
  width: 100%;
  z-index: 150;
  font-size: 1em;
  font-weight: 600;
  letter-spacing:5px;
  opacity: .7;
  border-top: 1px solid #c7c7c7;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
}

li.navlabel {
  float:right;
}

h1 {
  text-align: left;
}
h2 {
  color:#063EB1;
  font-weight: 400;
  text-align: left;
}

h3 {
  color:gray;
  font-weight:100;
  text-align: left;
}

h4 {
  color:black;
  font-weight: 500;
  text-align: left;
}

#footer {
   position:scroll;
   bottom:0;
   width:100%;
   height:100px;
}

code{
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 5px;
  border-radius: 5px;
}

p.codeblock{
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 5px;
  border-radius: 5px;
}

p.card-section {
  border: 1px solid gray;
  padding: 14px 14px 5px 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-device-width:1024px) {
    .content {width:100%;margin-top:0}
    .text-section {margin:0px}
    .blog-section {margin:0px}
    li.navlabel {display:none;}
    img.thumb {width:100%;margin:0 auto}
}

@media screen and (max-width: 1024px) {
  .content {width:100%}
  .text-section {margin:0px}
  .blog-section {margin:0px}
  img.thumb {width:100%;margin:0 auto}
}

@media screen and (max-width: 600px) {
  .content {width:100%;margin-top:0}
  img.projects {width:100%;margin:0 auto}
  .text-section {margin:0px}
  .blog-section {margin:0px}
  #cssmenu-bottom {display:inherit}
  #cssmenu-bottom li {float:none}
  #cssmenu-bottom li {
    border: 1px solid #2B1B17;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  #cssmenu-bottom li a:hover {
    border-radius: 5px;
  }
  img.thumb {width:100%;margin:0 auto}
  li.navlabel {display:none;}
}
