body, html {
  margin:auto;
  font-family: 'SourceSansPro', sans-serif;
  line-height: 1.6;
  color: #2B1B17;
  background-color: white;
}

/** {
  border: 1px solid black;
}*/

#picture {
  background-image:url('imageAssets/family.jpg');
  height: 100%;
  background-position:left;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#gradient {
  background-image:linear-gradient(#C6FFDD, #FBD786, #f7797d);
  height:700px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll;
  opacity:.5;"
}

.content {
  max-width: 750px;
  margin:auto;
  background: #ffffff;
  background-color: #ffffff;
  font-family:sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
  transition: 0.9s;
  padding: 0 0 0;
  text-align: left;
}

img.projects {
  width:130px;
  padding: 3px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
}

.text-section {
  margin:20px;
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

/*Top Nav*/
#cssmenu {
  position:fixed;
  top: 0;
  margin: 0 auto;
  left: ;
  right: 0;
  width: 100%;
  z-index: 150;
  font-size-adjust: auto;
  opacity: .7;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgreen;
  color: black;
}

h2 {
  color:#063EB1;
  font-weight:100;
}

@media only screen and (max-device-width:1024px) {
    .content {width:100%;margin-top:0}
    img.projects {width:100%;margin:auto;}
}

@media screen and (max-width: 1024px) {
  .content {width:100%;}
  img.projects {width:100%;margin:auto;}
}

@media screen and (max-width: 600px) {
  .content {width:100%;margin-top:0;}
  img.projects {width:100%;margin:auto;}
}
